<h3>React components test</h3>
<br>
<h4>Component A</h4>
{{#react}}
{
    "component": "@moodle/lms/local_reactdemo/local_reactdemo_test",
    "props": {
        "who": "{{who}}"
    },
    "id": "local-reactdemo-a",
    "class": "p-3 border rounded mb-3"
}
<p>Loading component A...</p>
{{/react}}


<h4>Interactive component</h4>
{{#react}}
{
    "component": "@moodle/lms/local_reactdemo/listing",
    "id": "local-reactdemo-listing",
}
<p>Loading component B...</p>
{{/react}}

<h4>Complex use of existing JS libs</h4>
{{#react}}
{
    "component": "@moodle/lms/local_reactdemo/local_reactdemo_modal_test",
    "props": {
        "contextid": "{{contextid}}"
    },
    "id": "local-reactdemo-modal-test-again",
    "class": "p-3 border rounded mb-3"
}
<p>Loading modal test...</p>
{{/react}}
